.addTrack {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto 60px;
  display: flex;
  gap: 30px;

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &__button {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    border: 1px solid #3a3aff;
    border-radius: 10px;
    background-color: inherit;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: all .2s;

    &:hover {
      background-color: #3a3aff;
      color: #fff;
      cursor: pointer;
    }
  }
}