.info {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0
    }
  }

  &__label {
    display: block;
    width: 100%;
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 16px;
    line-height: 24px;
    color: #b7b7b7;
    pointer-events: none;
    transform-origin: 0;
    transition: all .3s;
  }

  &__input {
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #3a3aff;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    appearance: none;

    &:focus {
      border: 1px solid #3a3aff;
      outline: 1px solid #3a3aff;
    }
  }
}

.info__input:focus + .info__label,
.info__input:not(:focus):valid + .info__label
{
  top: -28px;
  color: #3a3aff;
  transform: scale(.85);
}