@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  width: 100vw;
  min-height: 100vh;
  background-color: #edebeb;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

#__next {
  width: 100%;
  min-height: 100vh;
}